@{
    ViewData["Title"] = "Ligth";
}

@section Styles {
<link rel="stylesheet" href="~/css/ligth.css" asp-append-version="true" />
}

<div>
    <div>
        <h1>LIGTH</h1>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">mounth</th>
                    <th scope="col">indicators</th>
                    <th scope="col">date of pay</th>
                    <th scope="col">sum</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>January</td>
                    <td>003511</td>
                    <td>10.06.2020</td>
                    <td>150 UAN</td>
                </tr>
                <tr>
                    <td>February</td>
                    <td>003511</td>
                    <td>10.06.2020</td>
                    <td>150 UAN</td>
                </tr>
                <tr>
                    <td>March</td>
                    <td>003511</td>
                    <td>10.06.2020</td>
                    <td>150 UAN</td>
                </tr>
                <tr>
                    <td>April</td>
                    <td>003511</td>
                    <td>10.06.2020</td>
                    <td>150 UAN</td>
                </tr>
                <tr>
                    <td>May</td>
                    <td>003511</td>
                    <td>10.06.2020</td>
                    <td>150 UAN</td>
                </tr>
                <tr>
                    <td>June</td>
                    <td>003511</td>
                    <td>10.06.2020</td>
                    <td>150 UAN</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>003511</td>
                    <td>10.06.2020</td>
                    <td>150 UAN</td>
                </tr>
                <tr>
                    <td>August</td>
                    <td>003511</td>
                    <td>10.06.2020</td>
                    <td>150 UAN</td>
                </tr>
                <tr>
                    <td>September</td>
                    <td>003511</td>
                    <td>10.06.2020</td>
                    <td>150 UAN</td>
                </tr>
                <tr>
                    <td>October</td>
                    <td>003511</td>
                    <td>10.06.2020</td>
                    <td>150 UAN</td>
                </tr>
                <tr>
                    <td>November</td>
                    <td>003511</td>
                    <td>10.06.2020</td>
                    <td>150 UAN</td>
                </tr>
                <tr>
                    <td>Decemver</td>
                    <td>003511</td>
                    <td>10.06.2020</td>
                    <td>150 UAN</td>
                </tr>

            </tbody>
        </table>
    </div>
     <a class="btn btn-primary" href="/home" role="button" style= "display: flow-root; margin-top:40px;">back to home page</a>
</div>